.cecilightbox{
	position: fixed;
	z-index: 300;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url('../assets/images/overlay.png') repeat;
	@include flex-padding(30, 30, 30, 30);
	@include box-sizing(border-box);
	visibility: hidden;
	opacity:0;
	z-index: 1;

	&.active{
		visibility: visible;
		opacity:1;
		@include transition(visibility 0s, opacity 0.5s linear);
	}

	.inside{
		position: relative;
		width: 100%;
		height: 100%;
	}

	.scrolling_container{
		position: absolute;
		@include flex-width( 296 );
		@include flex-height( 295 ); //bugfix IE
    	overflow: hidden;
    	@include transform(translate3d(-50%, -50%, 0px));
    	top: 50%;
		left: 50%;

		&:hover{

			.info{
				background: none;
			}

			.scrolling_info{
				@include flex-top( 106 - 296 );
				background: $white;
				border: solid 5px $red;
				@include flex-padding(10, 10, 10, 10);
				p{
					color: $black;
				}
			}
		}
	}

	.container{
		@include flex-width( 296 );
		@include flex-height( 296 );
		@include transform(translate3d(0px, 0px, 0px));
		@include transition(1s ease-in-out);
		position: absolute;
	}

	.image{
		position: absolute;
		@include flex-width( 296 );
		@include flex-height( 296 );
		overflow: hidden;

		img{
			top: 50%;
			left: 50%;
			@include transform(translate3d(-50%, -50%, 0px));
			position: relative;
			height: 100%;
		}
	}

	.info{
	    position: absolute;
	    bottom: 0px;
	    @include flex-height( 106 );
	    width: 100%;
	    background: url('../assets/images/info.png') repeat;

	    .scrolling_info{
	    	@include flex-padding(15, 15, 15, 15);
	    	color: $white;
	    	@include box-sizing(border-box);
	    	@include flex-top( 40 );
	    	width: 100%;
	    	@include flex-height( 296 );
	    	position: absolute;
	    	@include transition(all 0.5s ease-out);

		    p{
		    	margin: 0px;

		    	&.user{
		    		font-weight: 600;
		    		text-transform: uppercase;
		    		@include font-dimensions(13, 15);
		    		@include flex-padding(0, 0, 7, 0);
		    		letter-spacing: 0.06rem;
		    	}

		    	&.date{
		    		font-family: 'Gentium Basic', serif;
		    		@include font-dimensions(12, 15);
		    		@include flex-padding(0, 0, 4, 0);
		    		font-style: italic;
		    	}

		    	&.desc{
		    		font-weight: 200;
		    		@include font-dimensions(12, 14);
		    		font-family: 'Gentium Basic', serif;
		    	}
		    }

		    .line{
		    	display: block;
			    border-top: solid 2px $aqua;
			    @include flex-width( 24 );
			    @include flex-padding(0, 0, 15, 0);
		    }
		}
	}

	.button{
		background: $aqua;
		position: absolute;
		@include flex-width( 20 );
		@include flex-height( 20 );
		@include flex-padding(10, 10, 10, 10);
		display: block;
		text-align: center;
		@include font-dimensions(20, 20);
		z-index: 10;
		cursor: pointer;

		&.close{
			right: 0px;
			top: 0px;
		}

		&.left{
			left: 0px;
			top: 50%;
			@include transform(translate3d(0%, -50%, 0px));
		}

		&.right{
			right: 0px;
			top: 50%;
			@include transform(translate3d(0%, -50%, 0px));
		}
	}
}