body{
	background-color: $white;
	font-family: 'Open Sans', sans-serif;
}

.center{
	left: 50%;
	top: 50%;
	position: absolute;
}

.open{
	background: $aqua;
	@include flex-width( 240 );
	@include flex-margin( -32, 0, 0, -120 );
	@include font-dimensions(14, 64);
	@include flex-box-shadow( 9, 0, 0, $grey );
	text-decoration: none;
	color: $white;
	cursor: pointer;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.1rem;
	display: none;

	&.active{
		display: inline-block;
	}

	&:hover{
		@include flex-left( 5 );
		@include flex-box-shadow( 4, 0, 0, $grey );
	}
}

.loader,
.loader:before,
.loader:after {
	background: $aqua;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	@include flex-width( 10 );
	@include flex-height( 30 );
}

.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}

.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
	content: " ";
	background-color:$aqua;
}

.loader {
	margin: 0px auto;
	font-size: 11px;
	@include transform(translateZ(0));
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
	display: none;

	&.active{
		display: block;
	}
}

.loader:after {
	left: 1.5em;
	content: " ";
	background-color:$aqua;
}

@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0 $aqua;
		@include flex-height( 30 );
	}
	40% {
		box-shadow: 0 -2em $aqua;
		@include flex-height( 35 );
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0 $aqua;
		@include flex-height( 30 );
	}
	40% {
		box-shadow: 0 -2em $aqua;
		@include flex-height( 35 );
	}
}

